body{
    margin: 0;
    background-color: #54ff65;
}

nav{
    display: flex;
    height: 475px;
    background-image: url(img/banner.png);
    margin: 0.5%;
}

h6{
    color: white;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
}

p{
    color: white;
    font-size: 30px;

}

.texto-do-banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}