body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    margin: 0;
    background-color: #00d656;
}

header{
    display: flex;
    height: 475px;
    width: 100%;
    background-image: url(img/banner.png);
    margin: 0.5%;
    justify-content: space-around; 
}

h6{
    color: white;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    margin: 50px;
}

p{
    color: white;
    font-size: 25px;

}

.informacoes{
    border: 0;
}

.texto-do-banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icons{
    display: flex;
    height: 25.99px;
    width: 25.99px;    
}