body{
    margin: 0;
}

nav{
    display: flex;
    height: 475px;
    background-image: url(img/banner.png);
    margin: 0.5%;
    justify-content: space-around; 

}

h6{
    color: white;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    margin: 50px;
}

p{
    color: white;
    font-size: 27px;

}

.informacoes{
    border: 0;
}

.texto-do-banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.icons{
    display: flex;
    height: 25.99px;
    width: 25.99px;
    align-items: center;
}


footer{
    position: fixed;
    color: black;
    bottom: 0;
    left: 0px;
    width: 100%;
    padding: 30px;
    background-color: #f1f1f1;
    text-align: center;
}
p{
 color: #8F8F8F;
 font-size: 19px;
 display: inline;
 justify-content: space-evenly;
 align-items: center;
 word-spacing: 10px;
}